@model IEnumerable<WebApplicationMusei.Models.Entities.Museo>

@{
    ViewData["Title"] = "Index";
}

<h1>Musei</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Denominazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CittaId)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Denominazione)
            </td>
            <td>
                @Html.ActionLink(item.Citta.Nome, "Details", "Citta", new { id = item.Citta.Id })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
